canvas{
	position: absolute;
	top: 100px;
	left: 10px;
	border: 1px solid;
}

#layout_canvas{
	z-index:4
}

#layer_0{
	z-index:1
}

#layer_1{
	z-index:2
}

#layer_2{
	z-index:3
}

#overlay{
	z-index:5
}

#background{
	z-index:0
}

