<!doctype html>
<html>
	<head>
	  <meta charset = "utf-8">
	  <script type="text/javascript">
		var nb_layers;
		var size_x;
		var size_y;
		var new_project_name;
		var layers_canvas = new Array;
		var layers_context = new Array;
		var edit=0;
		var placedPieces = new Array;
		var project_id;
		var url = "http://192.168.1.97:3000";
		var pieces = new Array();
	  </script>
	  <script type="text/javascript" src="/js/utils.js"></script>
	  <script type="text/javascript" src="/js/init_project.js"></script>
	  <script type="text/javascript" src="/js/get_list_pieces.js"></script>
	  <script type="text/javascript" src="/js/lego_main.js"></script>
	  <script type="text/javascript" src="/js/print.js"></script>
	  <script type="text/javascript" src="/js/save.js"></script>
	  <link rel="stylesheet" href="style/style.css">
	</head>
	<body>
	  <div id="popups">
	    <div id="open_project">
	      <h2>Démarrer</h2>
	      <p id="error"></p>
	      <input type="radio" name="open_mode" value="new_project" id="create_project">Créer un nouveau projet :
	      <input type="text" id="new_project_name">
	      <p>Dimensions :<br/>x : 
		<input type="text" id="size_x">
		y: <input type="text" id="size_y">
		z: <input type="text" id="size_z"></p>
	      <input type="radio" name="open_mode" value="Projet existant" id="existing_project">Ouvrir un projet existant :
	      <select name="project_to_open" id="projectselect">
	      </select> 
	      <button id="validate_open_project">Valider</button>
	    </div>
	  </div>
	  <div id="start_overlay"></div>
	  <canvas id="background">
	    Keskispass
	  </canvas>
	  <canvas id="layout_canvas">
	    Keskispass
	  </canvas>
	  <div id="user_canvas">
	  </div>
	  <canvas id="overlay">
	    Keskispass
	  </canvas>
	  <div id="menus">
	    <button id="layer_up">LAYER UP</button>
	    <button id="layer_down">LAYER DOWN</button>
	    <p>Current layer : </p>
	    <p id="current_layer">1</p>
	    <select name="blocks" id="blockselect">
	    </select>
	    <button id="validateBlock">Valider</button>
	    <select name="action" id="modeselect">
	      <option value="0">Placer</option>
	      <option value="1">Supprimer</option>
	    </select>
	    <button id="validateMode">Valider</button>
	    <button id="print">Imprimer</button>
	    <button id="save_model">Sauvegarder</button>
	    <p id="infos"></p>
	  </div>
	</body>
</html>
